@import 'tailwindcss';
@plugin '@tailwindcss/typography';

.lang-fa {
	font-family: 'Vazirmatn', sans-serif;
}

.lang-en {
	font-family: 'Roboto', sans-serif;
}

.mono-font {
	font-family: 'Fira Mono', monospace;
	font-weight: 400;
	font-style: normal;
}

* {
	scrollbar-width: none;
	-ms-overflow-style: none;
}

*::-webkit-scrollbar {
	display: none;
}
